<div class="container my-5">
    <div class="bento-box">
      <h2>Contact Me</h2>
    <p>If you'd like to get in touch, feel free to reach out through the following platforms or send me an email using the form below.</p>
    
    <ul class="list-group mb-4">
      <li class="list-group-item"><i class="fas fa-envelope"></i><a href="mailto:hemachandra.ms6@gmail.com" class="btng">Email: hemachandra.ms6&#64;gmail.com</a></li>
      <li class="list-group-item"><i class="fas fa-phone"></i> Phone: 8050666525</li>
      <li class="list-group-item"><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/hemachandra-m-s-a3bb3b1ab/"  target="_blank">LinkedIn</a></li>
      <li class="list-group-item"><i class="fab fa-github"></i> <a href="https://github.com/Hemachandra6"  target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>
