<div class="container my-5">
  <h2 class="mb-4">Technical Skills</h2>
  
  <div class="row">
    <div class="col-md-6 bento-box">
      <h4>Languages & Frameworks</h4>
      <ul class="list-group">
        <li class="list-group-item">Java</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Spring Boot</li>
        <li class="list-group-item">Angular</li>
        <li class="list-group-item">Kafka</li>
        <li class="list-group-item">C / C++</li>
      </ul>
    </div>
    <div class="col-md-6 bento-box">
      <h4>Tools & Databases</h4>
      <ul class="list-group">
        <li class="list-group-item">Docker</li>
        <li class="list-group-item">Jenkins</li>
        <li class="list-group-item">PostgreSQL</li>
        <li class="list-group-item">MySQL</li>
        <li class="list-group-item">PG-Admin</li>
      </ul>
    </div>
    <div class="bento-box">
      <h4 class="mt-5">Additional Skills</h4>
  <p>DevOps tools, Kafka Integration, Object-Oriented Programming (OOP) principles, Agile Software Development (Scrum).</p>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="bento-box">
        <h3>Java</h3>
        <p>Expertise in Java for backend development.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bento-box">
        <h3>Spring Boot</h3>
        <p>Building scalable microservices with Spring Boot.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bento-box">
        <h3>Angular</h3>
        <p>Creating dynamic frontend applications with Angular.</p>
      </div>
    </div>
  </div>
</div>
